{{ partial "header.html" . }}

<div class="container">

    <div id="article">
        <div class="article-title">{{ .Title }}</div>
        <span class="meta">
            <small>&nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</small>
            <a class="twitter-share-button pull-right" href="https://twitter.com/share" data-url="{{ .Permalink }}" data-count="none" data-via="{{ .Site.Params.twitter }}" data-dnt="true">
                <i class="fa fa-twitter"></i>
            </a>
        </span>
        <hr/>
        <div class="post">
            {{ .Content }} {{ with .Params.formurl }}
            <hr/>
            <iframe src="{{ . }}" class="form" height="700em"></iframe>
            {{ end }}
        </div>
    </div>

    <ul class="pager">
        {{with .Prev}} &nbsp;
        <li class="previous">
            <a href="{{.Permalink}}">&larr; {{.Title}}</a>
        </li>
        {{end}} {{with .Next}} &nbsp;
        <li class="next">
            <a href="{{.Permalink}}"> {{.Title}} &rarr;</a>
        </li>
        {{end}}
    </ul>

</div>

{{ partial "footer.html" . }}
