{{ partial "header.html" . }}


<!--
<div id="article">
<h1>{{.Title}}</h1>
{{ range .Data.Pages }}
{{if eq .RelPermalink "/index.html" }} {{.Content}} {{end}}
{{ end }}
-->

{{ range .Data.Pages }} {{ if eq .Params.front true }}
<a class="article-summary" href="{{ .Permalink }}" style="display: block;">
    <div>
        <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        <div class="article-summary-title">{{ .Title }}</div>
    </div>
    <p>{{ .Summary }}</p>
</a>
{{ end }} {{ end }} {{ partial "footer.html" . }}
