{{ template "theme/partials/header.html" . }}



  <div id="article">
      <h1>{{.Title}}</h1>
      {{ range .Data.Pages }}
        {{if eq .RelPermalink "/index.html" }} {{.Content}} {{end}}
      {{ end }}
      <!--
  <ul class="posts">
      {{ range .Data.Pages }}
      <li><span><a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span></span></li>
      {{ end }}
  </ul>-->
{{ template "theme/partials/footer.html" }}
